$primary: #5c75c9;
$secondary: #f6f6f6;
$grey: #e2e5eb;
$button-grey: #ced1d7;
$dark-grey: #737781;
$grey-middle: #c2c4ca;
$white: #fff;
$black: #2c2c35;
$accent-black: #11132d;
$light-black: #515151;
$background: #f6f6f6;
$yellow: #ffd65a;
$green: #60ac71;
