<div class="account">
	<div class="account-col">
		<h4 class="account__title">Вход и безопасность</h4>
		<div class="account-block">
			<div>
				<div class="account-block__label">Ваш email</div>
				<div class="account-block__text pb-20">nastyapolzazaza@gmail.com</div>
			</div>
			<div class="account-block__icons">
				<img class="account-block__icon pointer" src="./assets/icons/icon_pen.svg" alt="" />
			</div>
		</div>
		<p class="account__hint">
			Ваш номер телефона является универсальным идентификатором для входа в учетную запись
		</p>
	</div>
	<div class="account-col">
		<h4 class="account__title">Управление учетной записью</h4>
		<div class="account-block">
			<div class="account-block__flex">
				<img
					width="32"
					height="32"
					class="account-block__icon"
					src="./assets/icons/icon_delete.svg"
					alt=""
				/>
				<div>
					<div class="account-block__text">Удаление аккаунта</div>
					<div class="account-block__text--sm">
						Полностью удалить данные аккаунта и информацию о подключениях
					</div>
				</div>
			</div>
		</div>
		<p class="account__hint">Вы сможете восстановить аккаунт в течение 1 месяца</p>
	</div>
</div>

<div class="account-payment">
	<h4 class="account__title">Платежная информация</h4>
	<div class="account-payment__wrapper">
		<div class="account-block account-col">
			<div class="account-block__icons">
				<img
					width="44"
					height="44"
					class="account-block__icon"
					src="./assets/icons/card.svg"
					alt=""
				/>
			</div>
			<div class="account-block__text--md account-block__text--20">Банковская карта</div>
			<div class="account-block__text--md account-block__text--grey">МИР • 2345 **** **** 5748</div>
			<div class="account-block__mobile-content">
				<div class="account-block__text--md">Банковская карта</div>
				<div class="account-block__text--md account-block__text--grey">
					МИР • 2345 **** **** 5748
				</div>
			</div>
			<div class="account-block__icons account-block__icons--end">
				<img
					width="20"
					height="20"
					class="account-block__icon pointer"
					src="./assets/icons/icon_pen.svg"
					alt=""
				/>
				<img
					width="20"
					height="20"
					class="account-block__icon pointer"
					src="./assets/icons/icon_delete.svg"
					alt=""
				/>
			</div>
		</div>
		<div class="account-block account-col">
			<div class="account-block__icons">
				<img
					width="44"
					height="44"
					class="account-block__icon"
					src="./assets/icons/sbp.svg"
					alt=""
				/>
			</div>
			<div class="account-block__text--md account-block__text--20">СБП</div>
			<div class="account-block__text--md account-block__text--grey">Т-банк • 7 999 *** ** 71</div>
			<div class="account-block__mobile-content">
				<div class="account-block__text--md">СБП</div>
				<div class="account-block__text--md account-block__text--grey">
					Т-банк • 7 999 *** ** 71
				</div>
			</div>
			<div class="account-block__icons account-block__icons--end">
				<img
					width="20"
					height="20"
					class="account-block__icon pointer"
					src="./assets/icons/icon_pen.svg"
					alt=""
				/>
				<img
					width="20"
					height="20"
					class="account-block__icon pointer"
					src="./assets/icons/icon_delete.svg"
					alt=""
				/>
			</div>
		</div>
		<div class="account-block account-col">
			<div class="account-block__icons">
				<img
					width="44"
					height="44"
					class="account-block__icon"
					src="./assets/icons/umoney	.svg"
					alt=""
				/>
			</div>
			<div class="account-block__text--md account-block__text--20">Юmoney</div>
			<div class="account-block__text--md account-block__text--grey">2345 **** **** 5748</div>
			<div class="account-block__mobile-content">
				<div class="account-block__text--md">Юmoney</div>
				<div class="account-block__text--md account-block__text--grey">2345 **** **** 5748</div>
			</div>
			<div class="account-block__icons account-block__icons--end">
				<img
					width="20"
					height="20"
					class="account-block__icon pointer"
					src="./assets/icons/icon_pen.svg"
					alt=""
				/>
				<img
					width="20"
					height="20"
					class="account-block__icon pointer"
					src="./assets/icons/icon_delete.svg"
					alt=""
				/>
			</div>
		</div>
		<div class="account-block account-col">
			<div class="account-block__icons">
				<img
					width="44"
					height="44"
					class="account-block__icon"
					src="./assets/icons/crypto.svg"
					alt=""
				/>
			</div>
			<div class="account-block__text--md account-block__text--20">Крипто кошелек</div>
			<div class="account-block__text--md account-block__text--grey">vgervk **** **** vdkvfo</div>
			<div class="account-block__mobile-content">
				<div class="account-block__text--md">Крипто кошелек</div>
				<div class="account-block__text--md account-block__text--grey">vgervk **** **** vdkvfo</div>
			</div>
			<div class="account-block__icons account-block__icons--end">
				<img
					width="20"
					height="20"
					class="account-block__icon pointer"
					src="./assets/icons/icon_pen.svg"
					alt=""
				/>
				<img
					width="20"
					height="20"
					class="account-block__icon pointer"
					src="./assets/icons/icon_delete.svg"
					alt=""
				/>
			</div>
		</div>
	</div>
	<button class="button--text account-payment__btn">
		<img src="./assets/icons/icon_bank_card.svg" alt="" />
		<span>Добавить новый метод</span>
	</button>
</div>
