<div class="main-container">
	<ul class="breadcrumbs">
		<li><a class="breadcrumbs__link" href="/">Главная</a></li>
		<li><a class="breadcrumbs__link--active" href="/">Блог</a></li>
		<li><a class="breadcrumbs__link--active" href="/">Лучшие VPN...</a></li>
	</ul>

	<div class="payments">
		<div class="article-wrapper">
			<article class="article">
				<div class="article-top">
					<div class="article-top__row">
						<div class="hero-slide__category order-1">Category</div>
						<div class="article-top__flex order-3">
							<img src="./assets/icons/icon_hourglass.svg" alt="" />
							<span>Reading time: 4 min</span>
						</div>
					</div>

					<div class="article-top__row reverse">
						<div class="article-top__flex ml-auto order-4">
							<img src="./assets/icons/icon_update.svg" alt="" />
							<span>Updated: 9 days ago</span>
						</div>
						<div class="hero-slide__category order-2">
							<img src="./assets/icons/icon_eye.svg" alt="" />
							<span>2.4K</span>
						</div>
					</div>
				</div>
				<h3 class="article__title">Принцип работы VPN</h3>
				<p class="article__text">
					VPN создаёт защищённый туннель между вашим устройством и сервером VPN, через который
					проходят все данные. Этот туннель шифрует вашу интернет-активность, что делает её
					недоступной для третьих лиц. Например, если вы подключены к общественному Wi-Fi, VPN
					защитит ваши данные от возможных хакеров.
				</p>
				<img class="article__img" src="./assets/images/rates-pic.png" alt="" />
				<h4 class="article__title-h4 mt-32">Как работает VPN:</h4>
				<ul>
					<li>
						<b>Шифрование данных:</b> Все ваши данные шифруются с использованием надежных протоколов
						(например, AES-256), что делает их недоступными для посторонних.
					</li>
					<li>
						<b>Изменение IP-адреса:</b> VPN скрывает ваш настоящий IP-адрес, маскируя его на тот,
						который вам предоставляет сервер VPN.
					</li>
					<li>
						<b>Анонимность в интернете:</b> VPN помогает оставаться анонимным в сети, так как ваш
						интернет-провайдер и другие сервисы не видят вашего реального местоположения.
					</li>
				</ul>
				<h3 class="article__title mt-32">Преимущества использования VPN</h3>
				<p class="article__text article__text--green">
					VPN создаёт защищённый туннель между вашим устройством и сервером VPN, через который
					проходят все данные. Этот туннель шифрует вашу интернет-активность, что делает её
					недоступной для третьих лиц. Например, если вы подключены к общественному Wi-Fi, VPN
					защитит ваши данные от возможных хакеров.
				</p>

				<h4 id="ID" class="article__title-h4 mt-32">Преимуества:</h4>
				<ol>
					<li>
						<b>Безопасность:</b> Защищает ваши данные при использовании открытых и общедоступных
						Wi-Fi-сетей.
					</li>
					<li>
						<b>Конфиденциальность:</b> Скрывает ваш IP-адрес и местоположение, что помогает
						сохранить анонимность в сети.
					</li>
					<li>
						<b>Доступ к заблокированным ресурсам:</b> Позволяет обойти географические ограничения и
						цензуру, получив доступ к контенту, который заблокирован в вашей стране.
					</li>
				</ol>
				<img class="article__img mt-32" src="./assets/images/rates-pic-2.png" alt="" />
				<p class="article__hint">Подпись к фото</p>

				<h3 class="article__title mt-32">Преимущества использования VPN</h3>
				<p class="article__text">
					VPN — это <a href="./">мощный инструмент для защиты</a> вашей конфиденциальности и
					безопасности в интернете. Он помогает скрывать личную информацию и предоставляет доступ к
					ресурсам, которые могут быть недоступны в вашей стране.
					<a href="/">Выбор подходящего VPN-сервиса</a> зависит от ваших потребностей и бюджета, но
					в любом случае использование VPN будет полезным шагом для улучшения безопасности в сети.
				</p>

				<p class="article__text article__text--pink">
					<b>Внимание:</b> VPN создаёт защищённый туннель между вашим устройством и сервером VPN,
					через который проходят все данные. Этот туннель шифрует вашу интернет-активность, что
					делает её недоступной для третьих лиц.
				</p>

				<img class="article__img mt-32" src="./assets/images/rates-pic-3.png" alt="" />
				<p class="article__hint">Подпись к фото</p>
			</article>
			<div class="article-side">
				<div class="article-info">
					<div class="article-info__top">
						<div class="article-info__label">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
							>
								<path
									d="M9.48422 16.8607L8.54672 15.142C8.45066 14.9658 8.39369 14.77 8.37909 14.5703L6.24872 15.1029C4.92472 15.4339 4 16.6183 4 17.983V19.5311C4 19.79 4.20987 19.9998 4.46875 19.9998H5.875V18.8436C5.875 18.5847 6.08488 18.3748 6.34375 18.3748C6.60262 18.3748 6.8125 18.5847 6.8125 18.8436V19.9998H10.25V17.5132C9.92809 17.3993 9.65303 17.1702 9.48422 16.8607Z"
									fill="#5C75C9"
								/>
								<path
									d="M15.1888 15.1029L13.0584 14.5703C13.0438 14.7701 12.9868 14.9659 12.8907 15.1421L11.9533 16.8607C11.7845 17.1702 11.5094 17.3994 11.1875 17.5132V19.9998H14.625V18.8436C14.625 18.5847 14.8349 18.3748 15.0938 18.3748C15.3526 18.3748 15.5625 18.5847 15.5625 18.8436V19.9998H16.9688C17.2276 19.9998 17.4375 19.79 17.4375 19.5311V17.983C17.4375 16.6183 16.5128 15.4339 15.1888 15.1029Z"
									fill="#5C75C9"
								/>
								<path
									d="M8.66853 6.91188C8.93416 6.64625 9.28728 6.5 9.66291 6.5C11.0305 6.5 12.3841 6.95481 13.4742 7.78069L13.9837 8.16666C14.7646 7.69309 15.25 6.84819 15.25 5.91087V5.09375C15.25 4.83487 15.0401 4.625 14.7812 4.625H13.5947C13.1679 4.22144 12.6122 4 12.0224 4H9.83488C8.34063 4 7.125 5.21563 7.125 6.70988C7.125 7.19116 7.27306 7.64944 7.54662 8.03381L8.66853 6.91188Z"
									fill="#5C75C9"
								/>
								<path
									d="M12.125 14.469V14.3633C11.6884 14.5323 11.2143 14.6253 10.7188 14.6253C10.2232 14.6253 9.74906 14.5323 9.3125 14.3633V14.469C9.3125 14.5475 9.33219 14.6246 9.36975 14.6935L10.3073 16.4123C10.4849 16.738 10.9526 16.738 11.1303 16.4123L12.0678 14.6935C12.1053 14.6246 12.125 14.5475 12.125 14.469Z"
									fill="#5C75C9"
								/>
								<path
									d="M9.66291 7.4375C9.53859 7.4375 9.41934 7.48687 9.33144 7.57478L7.75 9.15625V10.7188C7.75 12.3583 9.07916 13.6875 10.7188 13.6875C12.3583 13.6875 13.6875 12.3583 13.6875 10.7188V9.11837L12.9082 8.52797C11.9742 7.82044 10.8346 7.4375 9.66291 7.4375Z"
									fill="#5C75C9"
								/>
								<path
									d="M18.6027 16.1083C18.6897 16.6306 19.4404 16.6306 19.5274 16.1083L19.9309 13.6875H18.1992L18.6027 16.1083Z"
									fill="#5C75C9"
								/>
								<path
									d="M19.375 5.5625H18.75C18.4048 5.5625 18.125 5.84231 18.125 6.1875V12.75H20V6.1875C20 5.84231 19.7202 5.5625 19.375 5.5625Z"
									fill="#5C75C9"
								/>
							</svg>
							<span>АВТОР</span>
						</div>
						<div class="hero-slide__category mb-0">🛡️ Verified by SustainableDuo</div>
					</div>
					<div class="article-info__author">
						<img src="./assets/images/blog/article-author.png" alt="" />
						<div>
							<div class="article-info__author__title">Акулов Сергей</div>
							<div class="article-info__author__prof">Эксперт по интернет-безопасности</div>
						</div>
					</div>
					<div class="article-info__specs">
						<p>🎓 Сертифицированный эксперт</p>
						<p>🏆 10+ лет опыта работы</p>
						<p>✍️ Автор 100+ статей</p>
					</div>
					<div class="article-info__social">
						<a href="/">
							<img src="./assets/icons/blog/article-facebook.svg" alt="" />
						</a>
						<a href="/">
							<img src="./assets/icons/blog/article-x.svg" alt="" />
						</a>
						<a href="/">
							<img src="./assets/icons/blog/article-balls.svg" alt="" />
						</a>
						<a href="/">
							<img src="./assets/icons/blog/article-linkedin.svg" alt="" />
						</a>
					</div>
				</div>
				<div class="article-contents">
					<div class="article-contents__head">
						<img src="./assets/icons/icon_bookmark.svg" alt="" />
						<p>Cодержание</p>
					</div>
					<ul class="article-contents__list">
						<li><a href="#ID"> How to delete my account?</a></li>
						<li>
							<a href="#ID">How to link your Surfshark account to your Google or Apple account</a>
						</li>
						<li>
							<a href="#ID">How to create a Surfshark account with Google or Apple</a>
						</li>
						<li>
							<a href="#ID">How can I change my email?</a>
						</li>
						<li>
							<a href="#ID">Expired subscription error</a>
						</li>
						<li>
							<a href="#ID">What are your subscription plan options?</a>
						</li>
						<li>
							<a href="#ID">Why does my subscription show up as expired on iOS?</a>
						</li>
						<li>
							<a href="#ID">How to manage Surfshark email notifications</a>
						</li>
						<li>
							<a href="#ID">Do you keep any logs of my internet activities?</a>
						</li>
						<li>
							<a href="#ID">Does Surfshark keep any details of user accounts?</a>
						</li>
						<li>
							<a href="#ID">How many devices can I use with Surfshark simultaneously?</a>
						</li>
						<li>
							<a href="#ID"
								>How to create an account using Google or Apple via Surfshark's web app</a
							>
						</li>
						<li>
							<a href="#ID">Why does my subscription show up as expired on iOS?</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<section class="thumbs-section">
		<h2 class="grid-section__title">Еще статьи из категории «VPN»</h2>
		<p class="grid-section__text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua.
		</p>
		<div class="thumbs">
			<a href="/" v-for="i in 6" class="article-card">
				<div class="article-card__top">
					<div class="article-card__category">Category</div>
					<div class="article-card__views">
						<img src="./assets/icons/icon_eye.svg" alt="" />
						<span>2.4K</span>
					</div>
					<img class="article-card__img" src="./assets/images/blog/primary_article.png" alt="" />
				</div>
				<div class="article-card__bottom">
					<div class="article-card__bottom__row">
						<div class="article-card__bottom__flex">
							<img src="./assets/icons/icon_author.svg" alt="" />
							<span>Sergey A.</span>
						</div>
						<span class="article-card__date">14 may 2025</span>
					</div>
					<div class="article-card__title">Lorem ipsum dolor sit ametdasjdhaskjdhasjhdkjasj</div>
					<p class="article-card__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididu...dashjdshadgsajhdgasjhdhgjas
					</p>
					<div class="article-card__bottom__flex">
						<img src="./assets/icons/icon_hourglass.svg" alt="" />
						<span>Reading time: 4 min</span>
					</div>
					<button class="button article-card__btn">
						<span>Читать полностью</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="19"
							height="18"
							viewBox="0 0 19 18"
							fill="none"
						>
							<path
								d="M8 4.5L12.5 9L8 13.5L6.95 12.45L10.4 9L6.95 5.55L8 4.5Z"
								fill="currentColor"
							/>
						</svg>
					</button>
				</div>
			</a>

			<div class="thumbs__hide" v-if="isHiddenBlogArticles">
				<a href="/" v-for="i in 12" class="article-card">
					<div class="article-card__top">
						<div class="article-card__category">Category</div>
						<div class="article-card__views">
							<img src="./assets/icons/icon_eye.svg" alt="" />
							<span>2.4K</span>
						</div>
						<img class="article-card__img" src="./assets/images/blog/primary_article.png" alt="" />
					</div>
					<div class="article-card__bottom">
						<div class="article-card__bottom__row">
							<div class="article-card__bottom__flex">
								<img src="./assets/icons/icon_author.svg" alt="" />
								<span>Sergey A.</span>
							</div>
							<span class="article-card__date">14 may 2025</span>
						</div>
						<div class="article-card__title">Lorem ipsum dolor sit ametdasjdhaskjdhasjhdkjasj</div>
						<p class="article-card__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididu...dashjdshadgsajhdgasjhdhgjas
						</p>
						<div class="article-card__bottom__flex">
							<img src="./assets/icons/icon_hourglass.svg" alt="" />
							<span>Reading time: 4 min</span>
						</div>
						<button class="button article-card__btn">
							<span>Читать полностью</span>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="19"
								height="18"
								viewBox="0 0 19 18"
								fill="none"
							>
								<path
									d="M8 4.5L12.5 9L8 13.5L6.95 12.45L10.4 9L6.95 5.55L8 4.5Z"
									fill="currentColor"
								/>
							</svg>
						</button>
					</div>
				</a>
			</div>
		</div>
		<div v-if="!isHiddenBlogArticles" @click="showMoreArticles" class="advance__btn thumbs__more">
			Показать еще (+12)
		</div>
	</section>
</div>
