<div class="payments">
	<h2 class="mobile-title subtitle-24">Ставки</h2>

	<div class="rates-wrapper">
		<article class="article">
			<div class="article__thumbs">
				<div class="article__thumb">
					<div class="article__thumb__num article__thumb__num--blue">50%</div>
					<div class="article__thumb__text">за первую оплату</div>
				</div>
				<div class="article__thumb">
					<div class="article__thumb__num article__thumb__num--green">30%</div>
					<div class="article__thumb__text">за повторную оплату</div>
				</div>
				<div class="article__thumb">
					<div class="article__thumb__num article__thumb__num--blue">10%</div>
					<div class="article__thumb__text">конверсия в оплату</div>
				</div>
			</div>

			<h3 class="article__title">Принцип работы VPN</h3>
			<p class="article__text">
				VPN создаёт защищённый туннель между вашим устройством и сервером VPN, через который
				проходят все данные. Этот туннель шифрует вашу интернет-активность, что делает её
				недоступной для третьих лиц. Например, если вы подключены к общественному Wi-Fi, VPN защитит
				ваши данные от возможных хакеров.
			</p>
			<img class="article__img" src="./assets/images/rates-pic.png" alt="" />
			<h4 class="article__title-h4 mt-32">Как работает VPN:</h4>
			<ul>
				<li>
					<b>Шифрование данных:</b> Все ваши данные шифруются с использованием надежных протоколов
					(например, AES-256), что делает их недоступными для посторонних.
				</li>
				<li>
					<b>Изменение IP-адреса:</b> VPN скрывает ваш настоящий IP-адрес, маскируя его на тот,
					который вам предоставляет сервер VPN.
				</li>
				<li>
					<b>Анонимность в интернете:</b> VPN помогает оставаться анонимным в сети, так как ваш
					интернет-провайдер и другие сервисы не видят вашего реального местоположения.
				</li>
			</ul>
			<h3 class="article__title mt-32">Преимущества использования VPN</h3>
			<p class="article__text article__text--green">
				VPN создаёт защищённый туннель между вашим устройством и сервером VPN, через который
				проходят все данные. Этот туннель шифрует вашу интернет-активность, что делает её
				недоступной для третьих лиц. Например, если вы подключены к общественному Wi-Fi, VPN защитит
				ваши данные от возможных хакеров.
			</p>

			<h4 id="ID" class="article__title-h4 mt-32">Преимуества:</h4>
			<ol>
				<li>
					<b>Безопасность:</b> Защищает ваши данные при использовании открытых и общедоступных
					Wi-Fi-сетей.
				</li>
				<li>
					<b>Конфиденциальность:</b> Скрывает ваш IP-адрес и местоположение, что помогает сохранить
					анонимность в сети.
				</li>
				<li>
					<b>Доступ к заблокированным ресурсам:</b> Позволяет обойти географические ограничения и
					цензуру, получив доступ к контенту, который заблокирован в вашей стране.
				</li>
			</ol>
			<img class="article__img mt-32" src="./assets/images/rates-pic-2.png" alt="" />
			<p class="article__hint">Подпись к фото</p>

			<h3 class="article__title mt-32">Преимущества использования VPN</h3>
			<p class="article__text">
				VPN — это <a href="./">мощный инструмент для защиты</a> вашей конфиденциальности и
				безопасности в интернете. Он помогает скрывать личную информацию и предоставляет доступ к
				ресурсам, которые могут быть недоступны в вашей стране.
				<a href="/">Выбор подходящего VPN-сервиса</a> зависит от ваших потребностей и бюджета, но в
				любом случае использование VPN будет полезным шагом для улучшения безопасности в сети.
			</p>

			<p class="article__text article__text--pink">
				<b>Внимание:</b> VPN создаёт защищённый туннель между вашим устройством и сервером VPN,
				через который проходят все данные. Этот туннель шифрует вашу интернет-активность, что делает
				её недоступной для третьих лиц.
			</p>

			<img class="article__img mt-32" src="./assets/images/rates-pic-3.png" alt="" />
			<p class="article__hint">Подпись к фото</p>
		</article>
		<div class="article-contents">
			<div class="article-contents__head">
				<img src="./assets/icons/icon_bookmark.svg" alt="" />
				<p>Cодержание</p>
			</div>
			<ul class="article-contents__list">
				<li><a href="#ID"> How to delete my account?</a></li>
				<li>
					<a href="#ID">How to link your Surfshark account to your Google or Apple account</a>
				</li>
				<li>
					<a href="#ID">How to create a Surfshark account with Google or Apple</a>
				</li>
				<li>
					<a href="#ID">How can I change my email?</a>
				</li>
				<li>
					<a href="#ID">Expired subscription error</a>
				</li>
				<li>
					<a href="#ID">What are your subscription plan options?</a>
				</li>
				<li>
					<a href="#ID">Why does my subscription show up as expired on iOS?</a>
				</li>
				<li>
					<a href="#ID">How to manage Surfshark email notifications</a>
				</li>
				<li>
					<a href="#ID">Do you keep any logs of my internet activities?</a>
				</li>
				<li>
					<a href="#ID">Does Surfshark keep any details of user accounts?</a>
				</li>
				<li>
					<a href="#ID">How many devices can I use with Surfshark simultaneously?</a>
				</li>
				<li>
					<a href="#ID">How to create an account using Google or Apple via Surfshark's web app</a>
				</li>
				<li>
					<a href="#ID">Why does my subscription show up as expired on iOS?</a>
				</li>
			</ul>
		</div>
	</div>
</div>
