<div class="support">
	<h2 class="mobile-title subtitle-24">Поддержка</h2>
	<div class="support__text">
		Не можете найти то, что ищете? Задайте свои вопросы и получите квалифицированную помощь.
		Cпециалисты VPNTYPE готовы ответить на ваши вопросы 24/7.
	</div>
	<div class="support__wrapper">
		<div class="support-card">
			<img class="support-card__img" src="./assets/images/support-pic-1.svg" alt="" />
			<h3 class="support-card__title">Свяжитесь с нами по Email</h3>
			<p class="support-card__text">
				Техническая поддержка VPNTYPE всегда готова помочь вам с любыми вопросами или проблемами.
				Просто заполните короткую форму и мы постараемся как можно быстрее дать обратную связь.
			</p>
			<button @click="togglePopup" class="button support-card__btn">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="18"
					height="18"
					viewBox="0 0 18 18"
					fill="none"
				>
					<path
						d="M16.2 5.5L9 9.875L1.8 5.5V3.75L9 8.125L16.2 3.75M16.2 2H1.8C0.801 2 0 2.77875 0 3.75V14.25C0 14.7141 0.189642 15.1592 0.527208 15.4874C0.864773 15.8156 1.32261 16 1.8 16H16.2C16.6774 16 17.1352 15.8156 17.4728 15.4874C17.8104 15.1592 18 14.7141 18 14.25V3.75C18 3.28587 17.8104 2.84075 17.4728 2.51256C17.1352 2.18437 16.6774 2 16.2 2Z"
						fill="currentColor"
					/>
				</svg>
				Заполнить форму
			</button>
		</div>
		<div class="support__text support__divider-mobile">или</div>
		<div class="support-card">
			<img class="support-card__img" src="./assets/images/support-pic-2.svg" alt="" />
			<h3 class="support-card__title">Свяжитесь с нами в Telegram</h3>
			<p class="support-card__text">
				Не хотите заполнять форму? Мы также предлагаем обратиться в техническую поддержку через
				Telegram. Наша команда доступна для помощи 24/7.
			</p>
			<a href="./" target="_blank" class="button button--secondary support-card__btn">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="19"
					height="18"
					viewBox="0 0 19 18"
					fill="none"
				>
					<g clip-path="url(#clip0_4226_123495)">
						<path
							d="M17.285 2.09205L1.34049 7.79416C0.252339 8.19948 0.258635 8.76244 1.14085 9.01347L5.23445 10.1978L14.7058 4.65579C15.1537 4.40309 15.5629 4.53903 15.2265 4.81592L7.55283 11.2386H7.55103L7.55283 11.2394L7.27045 15.1526C7.68413 15.1526 7.86669 14.9766 8.09871 14.769L10.0871 12.9758L14.2229 15.809C14.9855 16.1984 15.5332 15.9983 15.7229 15.1543L18.4379 3.28802C18.7158 2.25468 18.0126 1.78681 17.285 2.09205Z"
							fill="currentColor"
						/>
					</g>
					<defs>
						<clipPath id="clip0_4226_123495">
							<rect width="18" height="18" fill="currentColor" transform="translate(0.5)" />
						</clipPath>
					</defs>
				</svg>
				Написать в Telegram
			</a>
		</div>
	</div>
</div>
